<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healthy.diet.manage.mapper.BusinessMapper">
    <resultMap id="BaseResultMap" type="com.healthy.diet.manage.model.Business">
        <result column="business_name" jdbcType="VARCHAR" property="businessName"/>
    </resultMap>

    <sql id="businessColumnList">
        business_name
    </sql>

    <insert id="businessInsert" parameterType="com.healthy.diet.manage.model.Business">
        insert into business (business_id, business_name)
        VALUES(#{businessId,jdbcType=VARCHAR},#{businessName,jdbcType=VARCHAR})
    </insert>

    <select id="businessNameSelectAll" resultMap="BaseResultMap">
        select
        <include refid="businessColumnList"/>
        from business
    </select>

    <select id="businessNameSelectById" resultType="java.lang.String">
        select
            business.business_name
        from business
        where business_id = ${businessId}
    </select>
</mapper>